# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest / Cache
.pytest_cache/
.coverage
htmlcov/

# Local model checkpoints and logs
logs/
tb_logs/
*.ckpt

# Local datasets
data/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
